
#q1{
  color: cyan;
  background-color:black;
}

#q2{
  color: blueviolet;
  background-color: black;

}

#q3{
  color: black;
  background-color: darksalmon;

}

#q4{
color: black;
background-color: deeppink;
}
